html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid {
    background: rgb(49, 15, 15);
    padding: 1.5rem;
}
.grid::after {
    content: '';
    display: block;
    clear: both;
}
.grid .col {
    height: 30rem;
    background-color: red;
    float: left;
    margin: 2rem;
    width: calc(33.33% - 4rem); 
}