* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%
}
.filha4 {
    background-color:midnightblue;
    position: fixed;
    height: 5rem;
    width: 100%;
    top: 0;
    z-index: 3;
}
.filha1, .filha2, .neta {
    height: 30rem;
    width: 30rem;
    margin: 2rem;
}
.filha1{
    background-color: greenyellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15rem;
    margin-left: -15rem;
    z-index: 2;
}
.filha2 {
    background-color: red;
    position: relative;
    margin-top: 7rem;
    left: 50rem;
    z-index: 1;
}
.neta{
    background-color: rgb(75, 111, 158)
}
p {
    font-size: 3rem;
}
span {
    background-color: black;
    color: white;
    position: relative;
    top: 5rem;
    left: 8rem;
    font-size: 2rem;
}
.bloco-li {
    width: 90%;
}
ul {
    height: 10rem;
    overflow-y: auto;
}
div li.sticky{
    top: 0;
    background-color: gray;
    position: sticky;
}