* {
    margin: 2px;
    padding: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pai {
    transition: all 500ms ease-in-out;
    height: 20px;
    width: 100px;
}
.pai:hover{
    background-color: red;
    padding: 10px;
    height: 20px;
    width: 100px;
}
hr {
    margin: 0px;
    padding: 0px;
}
a:link{
    color: black;
    background: rgb(238, 137, 137);
    border-radius: 3px;
}
a:visited{
    color: orange;
    background: rgb(76, 76, 161);
    border-radius: 3px;
}
input:focus{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    outline: none;
    border: 1px solid black;
}
input:checked + p{
    color:rgb(0, 102, 14);
    background-color:rgb(146, 248, 180);
    height: 20px;
    width: 85px;
}